{% extends '_base.html' %}
{% block content %}

<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    
    <div class="d-flex flex-column">
        <div class="text-center mb-5">
            <p class="h2 p-0 m-0">Bem vindo</p>
            <span class="h2">{{user_name}}</span>
        </div>
    
        <div class="mt-5">
            <button>Iniciar novo Jogo</button>
            <button>Minhas estatisticas</button>
            <button>Meus desafios</button>
        </div>

    </div>

</div>
{% endblock %}