body{
    height: 100vh;
}

.mostra-palavra{
    min-height: 200px;
}

.char-erro{
    color: red;
}

.char-sucess{
    color: green;
}

.largura-100{
    width: 100vw;
}

.pintar {
    background-color: blue;
}